<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>292363679356-n4svtr6o7oqbvgfqqbejedqqjdv253u8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.292363679356-n4svtr6o7oqbvgfqqbejedqqjdv253u8</string>
	<key>API_KEY</key>
	<string>AIzaSyB4sFxDzGUXgExdhviFrdBTwT5sBJO-chg</string>
	<key>GCM_SENDER_ID</key>
	<string>292363679356</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.favoriteflyer.app</string>
	<key>PROJECT_ID</key>
	<string>favorite-flyer-ceb38</string>
	<key>STORAGE_BUCKET</key>
	<string>favorite-flyer-ceb38.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:292363679356:ios:81a8c0664416002d8a7bf9</string>
</dict>
</plist>